 *{
    margin: 0px;
    padding: 0px;
}
#card-principal{
    background-color: #000000;
   padding-top: 50px;
   padding-bottom: 50px;
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-width: 1220px;
    margin: 0 auto;
    
}
.card-vermelho, .card-verde, .card-amarelo {
  flex-grow: 2;
  text-align: center;
  margin: 10px;
  padding: 50px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  color: white;
  width: auto;
  height: 100px;
  justify-content: center;
  max-width: 300px;
}

.imagem {
    width: 90px;
    height: 70px;
    transition: transform 0.6s; /* Adicione uma transição suave */
  }


.card-vermelho, .card-amarelo, .card-verde {
    display: flex;
    padding: 35px; /* ajustar para 20px telas para mobile */
    color: black; 
    background-color: white;
    margin-top: 25px;
  
}

.coluna-imagem, .coluna-texto {
    padding: 10px;
}
.coluna-texto h3{
    font-size: 26px;
    padding: 5px;
    margin-top: -10px;
    margin-bottom: -12px;
    
    
}
.coluna-texto p{
    padding: 5px;
    color: #000000;
}
.coluna-texto{
    width: 50%;
    padding: 5px;
    margin-top: -12px;
}
.coluna-imagem {
    width: 50%;
    display: flex;
    align-items: center; /* Centraliza a imagem verticalmente */
    justify-content: center; /* Centraliza a imagem horizontalmente */
}

.imagem {
    max-width: 100%; /* Faz a imagem se ajustar à coluna */
    height: auto; /* Mantém a proporção da imagem */
}

.coluna-texto {
    width: 60%;
}


@media screen and (max-width: 768px) {
  .card {
      padding: 35px; /* Reduzir o espaçamento interno para telas menores */
      flex-wrap: wrap;
  }
  .card-vermelho, .card-verde, .card-amarelo {
    flex-grow: 2;
    text-align: center;
    margin: 10px;
    padding: 50px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
    color: white;
    width: auto;
    height: 100px;
    justify-content: center;
    max-width: 300px;
  }
  
  .imagem {
      width: 90px;
      height: 100px;
      transition: transform 0.6s; /* Adicione uma transição */
    }
  
  
  .card-vermelho, .card-amarelo, .card-verde {
      display: flex;
      padding: 20px; /* ajustar para 20px telas para mobile */
      color: black; 
      background-color: white;
      margin-top: 25px;
    
  }

  
}


