* {
    margin: 0;
    padding: 0;
}

.sessaod {
    padding-top: 35px;
    padding-bottom: 35px;
}

.container-sessaodireta {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1300px;
    margin: 0 auto;  
}

.title-sessaodireta {
    text-align: start;
    font-size: 35px;
    letter-spacing: 0.5px;
}

.texto-sessaodireta p {
    margin-top: 25px;
    margin-bottom: 15px;
}

.texto-sessaodireta {
    width: 580px;
    color: white;
    text-align: justify;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px; /* Espaço à esquerda */
}

.img-fluid-sessao {
    width: 580px;
    height: 400px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: none !important; /* Força a remoção da borda */
}

.sub-itens {
    width: auto;
    display: flex;
    justify-content: space-around;
}

.item {
    text-align: center;
    padding: 35px;
}

.icon {
    height: 30px;
    margin-bottom: 10px;
    color: black;
}

/* Telas entre 769px e 940px */
@media screen and (min-width: 769px) and (max-width: 940px) {
    .container-sessaodireta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px; /* Adicionado margem para uma boa experiência do usuário */
    }
}

/* Telas menores que 768px */
@media screen and (max-width: 768px) {
    .sessaod {
        padding-top: 35px;
        padding-bottom: 60px;
    }

    .container-sessaodireta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .texto-sessaodireta h1{
        font-size: 22px;
        letter-spacing: normal;
        margin-top: -10px;
    }

    .texto-sessaodireta {
        text-align: left;
        width: auto;
    }

    .texto-sessaodireta p {
        text-align: justify;
        font-size: 20px;
        margin-top: 25px;
    }

    .img-fluid-sessao {
        width: 360px;
        margin: auto;
        border: none !important; /* Força a remoção da borda */
    }

    .sub-itens {
        width: auto;
        display: flex;
        justify-content: space-around;
    }

    .item {
        text-align: center;
        padding: 25px;
    }

    .icon {
        height: 30px;
        margin-bottom: 10px;
        color: black;
    }
}
