*{
    margin: 0;
    padding: 0;
}
.container{
   background-image: url(../assets/backgraund01.webp);
    padding-top: 35px;
    padding-bottom: 35px;
}
.container1{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;  
}
.title{
    width: 400px;
    text-align:start;
    font-size: 35px;
    letter-spacing: 0.5px;

}
.texto p{
    width: 400px;
    margin-top: 25px;
    color: white;
}
.img-fluid {
    width: 520px;
    height: 400px;
    margin-top: 50px;
 
}
.img-fluid:hover{
    transform: scale(1.1);
    transition: 0.2ms;
      
}

.linha-amarela {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #dda518;
}
.sub-itens{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.item{
    text-align: center;
    padding: 35px;
}
.icon{
    height: 30px;
    margin-bottom: 10px;
    color: #DA9D00;
}
.texto{
    width: 500px;
    color: white;
    text-align: justify;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 60px; /* Espaço à esquerda */
}

.img-fluid {
    width: 520px;
    height: 400px;
    margin-top: 50px;
    margin-left: 110px;
    margin-right: 40px;
    margin-bottom: 20px;
  
}
@media screen and (max-width: 800px) {
    .container1 {
        flex-direction: column; 
    }
}

@media screen and (max-width: 300px) {
    .container1 {
        flex-direction: column; 
    }
    .texto {
        margin-top: 50px;
        margin-right: 18px;
        margin-left: 18px; 
        width: 200px;
    }
    .title{
        width: 200px;
        text-align:start;
        font-size: 32px;
        letter-spacing: 0.5px;
    
    }
    .texto p{
        width: 200px;
        margin-top: 25px;
        color: white;
    }
}



@media screen and (max-width: 600px) {
    .img-fluid {
        width: auto;
        height: 350px;
        margin-top: 20px;
        margin-left: 20;
        margin-right: -10px; /* Corrigi o valor para incluir o "px" faltando */
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 400px) {
    .img-fluid {
        width: 350px;
        height: 250px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: -10px; /* Corrigi o valor para incluir o "px" faltando */
        margin-bottom: -15px;
    }
}
