.sessao-cards {
    background-color: black;
    padding: 40px;
}

.sessao-subcards {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Adiciona flex-wrap para melhor responsividade */
}

.sessao-card {
    padding: 20px;
    height: auto;
    border-radius: 10px;
    flex: 1;
    max-width: 280px;
}
.comptext, p{
    font-size: 17px;
 
}
.comptext, h2{
    font-size: 20px;
 
}
.sessao-image {
    width: 100%;
    height: auto;
    max-width: 280px;
    max-height: 200px;
}

#card-item1 {
    background-color: blueviolet;
}

#card-item2 {
    background-color: chocolate;
}
#card-item3 {
    background-color: rgb(233, 67, 80);
}

@media screen and (max-width: 768px) {
    .sessao-subcards {
        flex-direction: column;
    }

    .sessao-card {
        padding: 10px;
        width: 100%; /* Define a largura dos cards para 100% em telas menores */
        max-width: none; /* Remove a largura máxima dos cards em telas menores */
    }

    .sessao-image {
        max-width: 200px;
        max-height: 180px;
    }
}
