.sessao-cards {
    background-color: black;
    padding: 40px;
}

.sessao-subcards {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Adiciona flex-wrap para melhor responsividade */
}

.sessao-card {
    padding: 20px;
    height: auto;
    border-radius: 10px;
    flex: 1;
    max-width: 280px;
}
.comptext, p{
    font-size: 17px;
 
}
.comptext, h2{
    font-size: 20px;
    color: white;
 
}
.sessao-image {
    width: 100%;
    height: auto;
    max-width: 280px;
    max-height: 200px;
}
#card-item1, #card-item2, #card-item3{
    background-color: #232222;
}
@media screen and (max-width: 768px) {
    .sessao-subcards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }

    .sessao-card {
        padding: 10px;
        width: 100%;
        max-width: none; 
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sessao-image {
        max-width: 200px;
        max-height: 180px;
    }
}
